.fa-twitter-square {
    color: #55acee;
  }
  
  .fa-facebook-square {
    color: #3b5998;
  }
  
  .fa-linkedin-square {
    color: #0976b4;
  }
  
  .fa-github-square {
    color: #333;
  }
  
  .fa {
    font-size: 3em;
    width: 1em;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .mat-card-avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 5px;
  }
    
  .authorimagecontainer {
    text-align: center;
  }
  
  .rightdivtext {
    color: #636467;
    text-transform: uppercase;
    padding: 2px;
  }
  
  .rightpanel-card {
    margin-bottom: 15px;
  }
  