<mat-card class="rightpanel-card mat-elevation-z2">
    <mat-card-content>
        <h4 class="rightdivtext">
            Author
        </h4>
    </mat-card-content>
    <mat-card-content>
        <div class="authorimagecontainer">
            <img class="authorimage" mat-card-avatar src="../../../assets/ankit-sharma.jpg">
            <h5>Ankit Sharma</h5>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h4 class="rightdivtext">
            Follow Me
        </h4>
    </mat-card-content>
    <mat-card-content>
        <a href="https://www.facebook.com/Ankit.Sharma.0709" target="_blank"><i class="fa fa-facebook-square"
                aria-hidden="true"></i></a>
        <a href="https://twitter.com/ankitsharma_007" target="_blank"><i class="fa fa-twitter-square"
                aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/ankitsharma-007/" target="_blank"><i class="fa fa-linkedin-square"
                aria-hidden="true"></i></a>
        <a href="https://github.com/AnkitSharma-007" target="_blank"><i class="fa fa-github-square"
                aria-hidden="true"></i></a>
    </mat-card-content>
</mat-card>